
:root {
    --light_green: rgb(87, 188, 144);
    --dark_green: rgb(1, 82, 73);
    --blue: rgb(119, 201, 212);
    --graph_width: 750px;
}

@font-face {
    font-family: "Andale Mono Regular";
    src: local("Andale Mono Regular"), url("./assets/andalemo.ttf");
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
    height: 100vh;
    margin: 0 20px;
}

header, footer {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    min-width: 500px;
}

header {
    margin: 20px 0 0 0;
}

footer {
    margin: auto 0 20px 0;
}

header img, footer img {
    width: 50px;
}

header a.logo {
    display: flex;
    gap: 10px;
    margin: 0 auto 0 0;
}

footer a.logo {
    display: flex;
    gap: 10px;
    margin: 0 0 0 auto;
}

a {
    text-decoration: none;
    color: var(--dark_green);
    font-family: "Andale Mono Regular", Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: center;
    width: 100%;
}

.graph {
    width: var(--graph_width);
}

.parameters {
    width: var(--graph_width);
    display: flex;
    justify-content: space-evenly;
}

label {
    font-family: "Andale Mono Regular", Arial, sans-serif;
    font-size: 14px;
    letter-spacing: -0.5px;
    margin-right: 8px;
}

input {
    font-family: "Andale Mono Regular", Arial, sans-serif;
    font-size: 14px;
    width: 100px;
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
}

input#name {
    font-size: 18px;
    border: 1px solid white;
    border-radius: 5px;
    width: var(--graph_width);
    text-align: center;
}

input#name:hover, input#name:focus {
    border: 1px solid black;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}